/* Reset default */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
}

:root {
	--primary-color: #1992d4;
	--secondary-color: #f0b429;
	--tertiary-color: #e2e8f0;
	--main-text-color: #000000;
	--secondary-text-color: #ffffff;
	--input-focus-border-color: #2e5bdb;
	--input-error-border-color: #d16868;
	--box-shadow-color: #e8e9e9;
	/* New */
	--btn-col-primary: #333;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: 'Norse Bold', sans-serif;
	overflow-y: hidden;
}

a {
	text-decoration: none;
}

button {
	display: flex;
	flex-direction: row;
	padding: 7px 9px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: var(--btn-col-primary);
	border: none;
	border-radius: 15px;
	cursor: pointer;
	min-width: 90px;
	box-shadow: rgb(0 0 0 / 16%) 0px 0px 6px, rgb(0 0 0 / 23%) 0px 0px 6px;
	justify-content: center;
	align-items: center;
}

/* Content container */
#content {
	height: 100vh;
}

/* Main */
.main-content-container {
	display: flex;
	height: 100%;
	width: 100%;
}

/* Nav Start */
.nav-container {
	background-color: var(--secondary-text-color);
	opacity: 0.9;
	position: relative;
}

.nav-container .nav {
	position: relative;
	display: flex;
	height: 72px;
	align-items: center;
	flex-direction: row;
	box-shadow: rgb(0 0 0 / 16%) 0px 0px 6px, rgb(0 0 0 / 23%) 0px 0px 6px;
}

.nav-container .nav .logo,
.auth {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50%;
	height: 100%;
	padding: 0px 27px;
}

.nav-container .nav .logo {
	justify-content: flex-start;
}

.nav-container .nav .logo a {
	font-size: 36px;
	font-weight: bolder;
}

.nav-container .nav .auth {
	justify-content: flex-end;
}

.nav-container .nav .auth button {
	margin-left: 15px;
}

.nav-container .nav .auth,
.middle-buttons button:hover {
	opacity: 0.9;
}

.nav-container .nav .auth button:active {
	background-color: #2c6829;
}

.nav-container .nav .middle-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
	width: 50%;
}

.nav-container .nav .middle-buttons button {
	height: 30px;
	margin-top: 15px;
}

.nav-container .nav .middle-buttons button.active {
	border: #fff solid 2px;
}

/* Hero */
.hero {
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.hero .hero-content {
	max-width: 800px;
	text-align: center;
	color: #fff;
	transform: translateY(-45px);
}

.hero .hero-content h1 {
	font-size: 4.5rem;
	margin-bottom: 1rem;
}

.hero .hero-content p {
	font-size: 2rem;
	margin-bottom: 2rem;
	font-weight: lighter;
}

.hero .cta-btn {
	display: inline-block;
	padding: 1rem 2rem;
	background-color: #fff;
	color: #333;
	font-size: 1.5rem;
	text-decoration: none;
	border-radius: 25px;
	transition: background-color 0.3s ease-in-out;
}

.hero .cta-btn:hover {
	background-color: #333;
	color: #fff;
}

/* Menu section */
.menu-container {
	height: 100%;
	display: none;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	margin: 0 auto;
	padding: 54px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
}

.menu-container .menu-item {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	height: 81%;
	width: 85%;
	margin-top: 20px;
	background: black;
	opacity: 0.81;
	justify-self: center;
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.menu-container .menu-item img {
	height: 189px;
	width: 306px;
	border-radius: 15px;
}

.menu-container .menu-item:hover {
	transform: translateY(-5px);
	box-shadow: inset 0 0 10px #ccc;
}

.menu-container .item-header {
	font-size: 1.5rem;
	margin-top: 20px;
	color: white;
}

.menu-container .item-description {
	font-size: 1.2rem;
	margin-top: 10px;
	color: white;
}

.menu-container .item-price {
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 10px;
	color: white;
}

.menu-container .cta-btn {
	display: inline-block;
	background-color: #fff;
	border: none;
	border-radius: 5px;
	color: #333;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 20px;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 25px;
	transition: background-color 0.3s ease-in-out;
}

.menu-container .cta-btn:hover {
	background-color: #333;
	color: #fff;
}

/* Contact us */
.contact-container {
	height: 100%;
	display: none;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.contact-container .contact-form {
	display: flex;
	flex-direction: column;
	background-color: black;
	opacity: 0.81;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
	padding: 28px 45px;
	height: 75%;
	width: 40%;
	margin-bottom: 63px;
}

.contact-container .form-group {
	margin-bottom: 15px;
}

.contact-container .form-group label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	color: #fff;
}

.contact-container .form-group input,
.form-group textarea {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: block;
	font-size: 16px;
	padding: 10px;
	width: 100%;
}

.contact-container .form-group input:focus,
.form-group textarea:focus {
	outline: none;
	border-color: #ccc;
}

.contact-container .submit-btn {
	display: inline-block;
	padding: 1rem 2rem;
	background-color: #fff;
	color: #333;
	font-size: 1.5rem;
	text-decoration: none;
	border-radius: 25px;
	transition: background-color 0.3s ease-in-out;
	margin: 15px;
}

.contact-container .submit-btn:hover {
	background-color: #333;
	color: #fff;
}
